body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* section 1 below */
.section1 {
    flex: 1;
    background-color: #1f2937;
    padding: 1em 12em;
    margin-bottom: 2rem;
}

.header {
    display: flex;
    margin-bottom: 6em;
}

.header-link {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.intro {
    display: flex;
    margin-bottom: 4em;
    display: flex;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    gap: 1rem;
}


.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.content {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    display: block;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 6px 30px;
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #f9faf8;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    flex: 1;
}

/* section 2 below */
.section2 {
    flex: 1;
    padding: 1em 16em;
    margin-bottom: 2rem;
}

.information-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    margin-bottom: 2rem;
}

.information-container{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.information-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information-image{
    border: solid 4px #3882F6;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}

.information-text {
    text-align: center;
    width: 150px;
    font-size: 18px;
}

/* section 3 below */
.section3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color:#e5e7eb ;
    padding: 5em 16em;
    align-items: center;
}

.quote1 {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 20em;
}

.quote2 {
    font-weight: bold;
    text-align: end;
    font-size: 18px;
    padding-top: 1rem;
}

/* section 4 below */
.section4 {
    display: flex;
    flex-direction: column;
    padding: 5em;
    align-items: center;
}

.call-to-action {
    flex: 1;
    display: flex;
    background-color: #3882F6;
    gap: 10rem;
    padding: 3em 6em;
    border-radius: 8px;
    align-items: center;
}

.call-to-action .sign-up {
    border: solid #f9faf8 3px;
    border-radius: 8px;
}

.action-text1 {
    margin-bottom: 0.3rem;
    font-size: 24px;
    font-weight: bold;
}

.action-text1, .action-text2 {
    color: #f9faf8;
}

/* footer */
.footer {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 3em;
}